<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Cars</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> MODEL </th>
        <th> SERIAL </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cars.isEmpty()}">
        <td colspan="3"> No Cars Available </td>
    </tr>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.getId()}"> ID </span></td>
        <td><span th:text="${car.getModels()}"> MODEL </span></td>
        <td><span th:text="${car.getSerial()}"> SERIAL </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>

</body>
</html>